.productpage-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
 }
 .product-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-row{
    display: flex;
    justify-content: center;
    padding-top: 8em;
    gap:1em;
}