
.productpage-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
     margin-left:10em;
    margin-right:2em; 
    gap:10em;
    max-width: fit-content;
 }
 
.flex-row{
    display: flex;
    justify-content: center;
    padding-top: 8em;
    gap:1em;
}
.right-text h5{
    font-weight:700;
    font-size:30px;
}
.right-text{
    margin-top:5em;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    /* justify-content: ; */
    padding: 1em;
}
.right-text h6{
    font-size:25px;
    font-weight: 700;
    text-align: right;
}
span{
    font-size: 15px;
    font-weight: 100;
}
p.text, p.seller{
    width:90%;
    line-height:30px;
    text-align:justify;
   margin-top: 10px;
   font-size: 18px;
    
}
.related h3{
    font-size: 30px;
    text-align: left;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.quality{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* max-width:max-content; */
}
.quality p{
    font-size: 20px;
}