.header-content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top:1em;
    font-family: 'Nunito', sans-serif;
    position: relative;
}
.select{
    display: flex;
    color: #000;
    padding: 10px;
    font-size: 18px;

}

.header-content h3{
    color:#149C08;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    font-size: 32px;    
    cursor: pointer;                                       
}
.srch{
    width: 450px;
    padding: 10px;
}
select, .srch{
    background: #F6F6F6;
    border: none;
    outline: none;
    font-size: 18px;
}
/* option{
    font-size:18px;
} */
 
select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.srch{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa{
    position: absolute;
    right: 350px;
    bottom:25px;
    cursor: pointer;
}
.icons{
    display:flex;
    justify-content: space-around;
    gap: 2em;
    cursor: pointer;
}